@import "src/shared/styles/Color";

.container {
  border-top: 0;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

.column-confides {
  flex: 0 0 100%;
  padding: 0 0 5rem;

  @media(min-width: 80rem) {
    flex: 0 0 60%;
    max-width: 60%;
  }

}

.form-confide {

  textarea {
    max-width: 100%;
    min-width: 100%;
    border: none;
    margin: 0 !important;
    overflow: hidden;
  }

  textarea:hover, textarea:focus, textarea:not(:placeholder-shown) {
    border: 0.1rem solid $color-primary !important;
    outline: 0;
  }

  div {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
      text-align: right;
    }
  }
}


.confides {
  .confide:first-child {
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
  }

  .confide:last-child {
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  .confide:nth-child(even) {
    border-top: none;
    border-bottom: none;
  }

  .confide:last-child:nth-child(even) {
    border-bottom: 1px solid $color-quinary;
  }
}

.confide {
  border: 1px solid $color-quinary;
  padding: 1rem;
  display: flex;

  img, .img {
    border-radius: 50%;
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }

  .img {
    border: 1px solid $color-quinary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
  }
}

.confide .user {
  font-weight: 400;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  .user-name {
    display: none;
  }
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}


.confide .footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  & > div:first-child {
    display: flex;
    justify-content: space-between;
  }

  @media(min-width: 80rem) {
    flex-direction: row;
  }

  div {
    small {
      margin: 0 1rem;
    }

    small:first-child {
      margin-left: 0;
    }

    small:last-child {
      margin-right: 0;
    }
  }
}


.footer-login-text {
  text-align: center;
  margin-top: 2rem;
}
