<div class="container-full">
  <div class="row">

    <!--TOP 10 HASHTAGS-->
    <aside class="column column-md-none sidebar" style="max-width: 20%;">
      <div class="component">
        <app-top-ten-hashtags></app-top-ten-hashtags>
      </div>
    </aside>
    <!--TOP 10 HASHTAGS-->


    <div class="column column-confides">

      <ng-container *ngIf="false">
        <form class="form-confide" [formGroup]="formConfide" (ngSubmit)="confideSubmit()">
        <textarea [maxLength]="confideMaxLength"
                  placeholder="tulis curhatan lo disini!" formControlName="text">
        </textarea>
          <ng-container *ngIf="!loading.confide; else templateLoading">
            <ng-container *ngIf="formConfide.controls['text'].value">
              <div>
                <div class="display-flex align-items-center">
                  <button class="button margin-0" [disabled]="formConfide.invalid">curhat sekarang!</button>
                  <ng-container *ngIf="error.confide">
                    <small class="text-danger margin-0 margin-left-1">
                      * {{ error.confide }}
                    </small>
                  </ng-container>
                </div>
                <div>
                  <p>
                    <small>{{ formConfide.controls['text'].value?.length }} / {{ confideMaxLength }}</small>
                  </p>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </form>
      </ng-container>

      <ng-container *ngIf="!loading.confides || confides.length > 0">
        <h3>curhatan</h3>
      </ng-container>

      <div class="confides">
        <ng-container *ngFor="let confide of confides; trackBy : trackById">
          <div class="confide">
            <div class="width-100">
              <div class="user">
                <div class="line-height-0">
                  <ng-container *ngIf="confide.photo_url; else templateNoPhoto">
                    <img [src]="confide.photo_url" alt="">
                  </ng-container>
                </div>
                <ng-template #templateNoPhoto>
                  <div class="img">{{ confide?.username ? confide.username[0] : 'e'  }}</div>
                </ng-template>
                <div class="user-name">
                  {{ confide?.name }}
                </div>
                <small class="user-username">
                  <a [routerLink]="'/' + confide?.username">@{{ confide?.username }}</a>
                </small>
              </div>
              <div class="user-content">
                <div>
                  <div>{{ confide.text }}</div>
                </div>
                <div class="footer">
                  <div>
                    <small>{{ confide.at_created }}</small>
                    <small><a href="">{{ confide.total_comment }} comments</a></small>
                  </div>
                  <div>
                    <ng-container *ngFor="let hashtag of confide?.hashtags">
                      <small><a [routerLink]="'/hashtag/' + hashtag">#{{ hashtag }}</a></small>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>

      <ng-container *ngIf="!(authService.loggedIn | async)">
        <div class="footer-login-text">
          <a class="button button-clear button-large" routerLink="/auth/login">
            masuk untuk melihat lebih lanjut!
          </a>
        </div>
      </ng-container>

      <div class="text-center margin-3">
        <ng-container *ngIf="!loading.confides; else templateLoading">
          <a class="button button-clear button-large" (click)="getConfides()">
            lihat lainnya
          </a>
        </ng-container>
      </div>

    </div>


    <!--TOP 10 USERS-->
    <div class="column column-md-none sidebar text-right" style="max-width: 20%;">
      <div class="component">
        <app-top-ten-users></app-top-ten-users>
      </div>
    </div>
    <!--TOP 10 USERS-->

  </div>
</div>

<app-navigation-bottom></app-navigation-bottom>

<ng-template #templateLoading>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>
