<ng-container *ngIf="!loading.user; else templateLoading">
  <ng-container *ngIf="user; else templateUserNotFound">
    <div class="user-profile">
      <div class="banner-container">
        <div class="banner" #userBanner></div>
        <div class="fade"></div>
        <div class="user-header">
          <div class="name">{{ user.name_ || user.username }}</div>
          <div class="username">@{{ user.username }}</div>
        </div>
        <div class="actions">
          <ng-container *ngIf="userCanEdit">
            <a routerLink="/setting/profile" class="menu">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/>
                <path fill-rule="evenodd"
                      d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                      clip-rule="evenodd"/>
              </svg>
            </a>
            <a routerLink="/setting" class="menu">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                      clip-rule="evenodd"/>
              </svg>
            </a>
          </ng-container>
        </div>
      </div>
      <a class="avatar">
        <img class="inner" [src]="user.avatar_url" fallback="/assets/images/user.png" decoding="async"
             alt="photo profile">

        <!--  @TODO: next feature (user: online status)-->
        <!--    <div class="indicator online"></div>-->
      </a>
      <div class="user-header">
        <div class="name">{{ user.name_ || user.username }}</div>
        <div class="username">@{{ user.username }}</div>
      </div>

      <div class="bio">
        <p [innerHTML]="user.bio" (click)="onClickUserBio($event)">
        </p>
      </div>

    </div>

    <div class="user-contents">
      <div class="nav-sticky">
        <div>
          <div class="nav">
            <a [ngClass]="{'active': tabActive === 'confides'}" (click)="onChangeTab('confides')">publik</a>
            <ng-container *ngIf="userCanEdit">
              <a [ngClass]="{'active': tabActive === 'private_confides'}" (click)="onChangeTab('private_confides')">anonim</a>
            </ng-container>
            <!--  @TODO: next feature (user: mentions)-->
            <!--        <a routerLink="mentions" routerLinkActive="active">mention</a>-->
          </div>
        </div>
      </div>

      <div>
        <ng-container *ngIf="tabActive === 'confides'">
          <app-user-confides [userId]="user.user_id"></app-user-confides>
        </ng-container>
        <ng-container *ngIf="tabActive === 'private_confides' && userCanEdit">
          <app-user-private-confides [userId]="user.user_id"></app-user-private-confides>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>


<ng-template #templateLoading>
  <div class="width-100 text-center">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>

<ng-template #templateUserNotFound>
  <div class="user-not-found">
    <h1 class="text-danger">404</h1>
    <h3>lo mau cari apa?</h3>
    <h5>disini ga ada apa apa</h5>
  </div>
</ng-template>
