<!--<div style="position: sticky;top: 0;background-color: white; text-align: center;">-->
<!--  <div>-->
<!--    <div>-->
<!--      <div>@gilbert</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="user-profile">
  <div class="banner-container">
    <div class="banner"></div>
    <div class="fade"></div>
    <div class="user-header">
      <div class="name">Gilbert Ronaldo</div>
      <div class="username">@gilbert</div>
    </div>
  </div>
  <a class="avatar">
    <img class="inner" src="https://files.eyedee.id/images/logo.png"
         decoding="async" data-v-7ca87538="">
    <div class="indicator online"></div>
  </a>
  <div class="user-header">
    <div class="name">Gilbert Ronaldo</div>
    <div class="username">@gilbert</div>
  </div>

  <div class="description">
    <span>
      このアカウントはホームTLを見て、美味しそうなものを記憶します。
      <a href="/@kabo" class="ldlomzub" data-v-2745c071=""><!----><span class="main" data-v-2745c071=""><span
        class="username" data-v-2745c071="">@kabo</span><!----></span></a>
      <br>お知らせまとめ <a
      href="/clips/8hknysdjeu" class="ieqqeuvs _link" rel="nofollow noopener" data-v-0f634c2d=""><!----><!----><span
      class="pathname" data-v-0f634c2d="">clips/8hknysdjeu</span><span class="query" data-v-0f634c2d=""></span><span
      class="hash" data-v-0f634c2d=""></span><!----></a><br><br>編集:2021/02/08
    </span>
  </div>

</div>

<div class="user-contents">
  <div class="nav-sticky">
    <div>
      <div class="nav">
        <a routerLink="confides" routerLinkActive="active">curhatan</a>
        <a routerLink="mentions" routerLinkActive="active">mention</a>
      </div>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
