@import "../../../shared/styles/Color";


.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 0.1rem solid $color-quinary;
}

.card .banner {
  background-color: $color-primary;
  //background-image: url("https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  aspect-ratio: 970/250;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}

.card .banner img {
  background-color: #fff;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card .banner img:hover {
  transform: translateY(50%) scale(1.3);
}

.card .menu {
  width: 100%;
  height: 5.5rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;

  & > a {
    margin-left: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;

    svg:first-child {
      display: block;
    }

    svg:nth-child(2) {
      display: none;
    }

    &:hover {
      svg:first-child {
        display: none;
      }

      svg:nth-child(2) {
        display: block;
      }
    }
  }
}

.card h3.name {
  text-align: center;
  padding: 0 2rem 0.5rem;
  margin: 0;
}

.card .username {
  color: #a0a0a0;
  text-align: center;
  padding: 0 2rem 1.2rem;
}

.card .bio {
  text-align: center;
  padding: 0 2rem 2.5rem;
  order: 100;
}

.user-contents {
  border-top: .5px solid $color-quinary;

  @media(min-width: 80rem) {
    margin: 0;
  }

  .nav-sticky {
    top: 0;
    position: sticky;
    background-color: $color-initial;
  }

  .nav {
    display: flex;
    background: $color-tertiary;
    border: 0.1rem solid $color-quinary;
    border-top: none;


    a {
      flex: 1;
      padding: 1rem;
      text-align: center;
      cursor: pointer;

      &.active {
        color: $color-primary;
        font-weight: bold;
        border-bottom: 0.1rem solid $color-primary;
      }
    }
  }

  & > div:last-child {
    padding: 2rem 0;

    //@media(min-width: 80rem) {
    //  padding: 2rem 0;
    //}
  }
}


.user-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    margin: 0 !important;
  }
}
