@import "../../../../shared/styles/Color";

.banner-container {
  background-position: 50%;
  background-size: cover;
  width: 100%;
  aspect-ratio: 970/250;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  @media(min-width: 80rem) {
    width: 100%;
  }

  .banner {
    background-position: center calc(50% + 0);
    background-color: #7fc5ff;
    background-size: cover;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    height: 100%;
    will-change: background-position;

    //&:hover {
    //  cursor: pointer;
    //  background-blend-mode: saturation;
    //}

    @media(min-width: 80rem) {
      box-shadow: inset 0 0 10rem rgba(0, 0, 0, .5);
    }

    .avatar {
      //cursor: pointer;
      bottom: 0;
      box-shadow: 0 0 0 6px rgba(0, 0, 0, .5);
      display: block;
      height: 5rem;
      width: 5rem;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 100%;

      @media(min-width: 80rem) {
        height: 10rem;
        width: 10rem;
      }

      //&:hover {
      // img {
      //   filter: brightness(70%);
      // }
      //}
      //
      //&:active {
      //  img {
      //    filter: brightness(50%);
      //  }
      //}

      img {
        border-radius: 100%;
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
      }

      .no-avatar {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: $color-initial;
        border-radius: 100%;
        color: $color-primary;
      }
    }
  }
}

.banner-container-image-edit {
  --cropper-outline-color: var(--color-initial);
  --cropper-overlay-color: var(--color-initial);

  height: 20rem;
  width: 100%;
}

.banner-links {
  display: flex;
  flex-direction: column;

  a {
    cursor: pointer;
    border: 1px solid $color-quinary;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    > label {
      cursor: pointer;
      width: 100%;
      height: 100%;
      margin: 0;
      text-align: center;
      padding: 0.75rem 1rem;
    }

    > input {
      display: none !important;
    }

    &:nth-child(even) {
      border-top: none;
      border-bottom: none;
    }

    &:last-child {
      border-bottom: 1px solid $color-quinary;
    }

    &:hover {
      background-color: $color-tertiary;

      div {
        svg:first-child {
          display: none;
        }

        svg:last-child {
          display: block;
        }
      }
    }

    &:active, &:focus {
      background-color: $color-quaternary;
    }
  }
}

.setting-form {
  margin-top: 2rem;

  label {
    font-size: 1.5rem;
  }

  input, textarea {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  textarea {
    white-space: pre-wrap;
  }

  button {
    border-top: none;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:hover, &:active, &:focus {
      font-weight: bold;
    }
  }
}
