<div class="container register">

  <h2>Daftar</h2>
  <blockquote>
    <p><em>cie, udah ga sabar nyurahin isi unek-unek lo yaa?</em></p>
  </blockquote>

  <form [formGroup]="form" (ngSubmit)="register()">
    <fieldset [disabled]="loading.register">
      <label for="username">
        username
        <small class="text-danger">
          <ng-container *ngIf="form.controls['username']?.touched && form.controls['username'].invalid">
            * username wajib diisi!
          </ng-container>
        </small>
      </label>
      <input type="text" placeholder="username" id="username" formControlName="username">
      <label for="email">
        email
        <small class="text-danger">
          <ng-container *ngIf="form.controls['email']?.touched && form.controls['email']?.errors?.required">
            * email wajib diisi!
          </ng-container>
          <ng-container *ngIf="form.controls['email']?.touched && form.controls['email']?.errors?.email">
            * format email salah
          </ng-container>
        </small>
      </label>
      <input type="text" placeholder="email" id="email" formControlName="email">
      <label for="password">
        password
        <small class="text-danger">
          <ng-container
            *ngIf="form.controls['password']?.touched && form.controls['password']?.errors?.required">
            * password wajib diisi!
          </ng-container>
          <ng-container
            *ngIf="form.controls['password']?.touched && form.controls['password']?.errors?.minlength">
            * panjang password minimal 8 huruf woy!
          </ng-container>
        </small>
      </label>
      <input type="password" placeholder="password" id="password" formControlName="password">
      <label for="password-confirmation">
        konfirmasi password
        <small class="text-danger">
          <ng-container
            *ngIf="form.controls['password_confirmation']?.touched && form.controls['password_confirmation']?.errors?.required">
            * konfirmasi password wajib diisi!
          </ng-container>
          <ng-container
            *ngIf="form.controls['password_confirmation']?.touched && form.controls['password_confirmation']?.errors?.isMatching === false">
            * password nya ga sama!
          </ng-container>
        </small>
      </label>
      <input type="password" placeholder="konfirmasi password" id="password-confirmation" formControlName="password_confirmation">

      <ng-container *ngIf="!loading.register; else loadingRegister">
        <button class="button-primary" type="submit" [disabled]="form.invalid">
          daftar
        </button>

        <ng-container *ngIf="error.register">
          <small class="text-danger">
            * {{ error.register }}
          </small>
        </ng-container>
      </ng-container>
    </fieldset>
  </form>

  <div class="float-right">
    <p>
      sudah punya akun?
      <a routerLink="../login">
        masuk disini
      </a>
    </p>
  </div>
</div>


<ng-template #loadingRegister>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>
