<div class="container register">

  <h2>Daftar</h2>
  <blockquote>
    <p><em>cie, udah ga sabar nyurahin isi unek-unek lo yaa?</em></p>
  </blockquote>

  <form [formGroup]="form" (ngSubmit)="register()">
    <fieldset [disabled]="loading.register">
      <label for="name">
        nama samaran
        <small style="font-weight: normal"><i>* opsional</i></small>
      </label>
      <input type="text" placeholder="Bill Gates" id="name" formControlName="name">
      <label for="username">
        username
        <small class="text-danger">
          <ng-container *ngIf="form.controls['username']?.touched && form.controls['username'].invalid">
            * username wajib diisi!
          </ng-container>
        </small>
      </label>
      <input type="text" placeholder="username" id="username" formControlName="username">
      <label for="password">
        password
        <small class="text-danger">
          <ng-container
            *ngIf="form.controls['password']?.touched && form.controls['password']?.errors?.required">
            * password wajib diisi!
          </ng-container>
          <ng-container
            *ngIf="form.controls['password']?.touched && form.controls['password']?.errors?.minlength">
            * panjang password minimal 5 huruf woy!
          </ng-container>
        </small>
      </label>
      <input type="password" placeholder="password" id="password" formControlName="password">

      <ng-container *ngIf="!loading.register; else loadingregister">
        <button class="button-primary" type="submit" [disabled]="form.invalid">
          daftar
        </button>

        <ng-container *ngIf="error.register">
          <small class="text-danger">
            * {{ error.register }}
          </small>
        </ng-container>
      </ng-container>
      <ng-template #loadingregister>
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </ng-template>
    </fieldset>
  </form>

  <div class="float-right">
    <p>
      sudah punya akun?
      <a routerLink="../login">
        masuk disini
      </a>
    </p>
  </div>
</div>
