<ng-container *ngIf="!loading.confides || confides.length > 0">
  <h3>curhatan</h3>
</ng-container>

<div class="confides">
  <ng-container *ngFor="let confide of confides; trackBy : trackById">
    <div class="confide">
      <div class="width-100">

        <ng-container *ngIf="confide.username; else templateUserAnonim">
          <div class="user">
            <div class="line-height-0">
              <ng-container *ngIf="confide.photo_url; else templateNoPhoto">
                <img [src]="confide.photo_url" alt="">
              </ng-container>
            </div>
            <ng-template #templateNoPhoto>
              <div class="img">{{ confide.username[0]  }}</div>
            </ng-template>
            <!--                  <div class="user-name">-->
            <!--                    {{ confide.name }}-->
            <!--                  </div>-->
            <small class="user-username">
              <a [routerLink]="'/' + confide.username">@{{ confide.username }}</a>
            </small>
          </div>
        </ng-container>

        <div class="user-content">
          <div>
            <div>{{ confide.text }}</div>
          </div>
          <div class="footer">
            <div>
              <small>{{ confide.at_created_string }}</small>
              <small><a href="">{{ confide.total_comment }} comments</a></small>
            </div>
            <div>
              <ng-container *ngFor="let hashtag of confide?.hashtags">
                <small><a [routerLink]="'/hashtag/' + hashtag">#{{ hashtag }}</a></small>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>

<ng-container *ngIf="!noMoreConfide; else templateNoMoreConfide">
  <ng-container *ngIf="!(authService.loggedIn | async)">
    <div class="footer-login-text">
      <a class="button button-clear button-large" routerLink="/auth/login">
        masuk untuk melihat lebih lanjut!
      </a>
    </div>
  </ng-container>

  <div class="text-center margin-top-3">
    <ng-container *ngIf="!loading.confides; else templateLoading">
      <a class="button button-clear button-large" (click)="getConfides()">
        lihat lainnya
      </a>
    </ng-container>
  </div>
</ng-container>

<ng-template #templateNoMoreConfide>
  <div class="text-center margin-top-3">
    <a class="button button-clear button-large">
      udah mentok, ga ada yang baru lagi!
    </a>
  </div>
</ng-template>

<ng-template #templateLoading>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>

<ng-template #templateUserAnonim>
  <a><i>anonim</i></a>
</ng-template>
