<div class="confides">
  <ng-container *ngFor="let confide of confides; trackBy : trackById">
    <div class="confide" @confideAnimation>
      <div class="width-100">

        <ng-container *ngIf="confide.is_anonim">
          <span><i>anonim</i></span>
        </ng-container>

        <div class="user-content">
          <div>
            <div><p (click)="onClickUserText($event)" [innerHTML]="confide.text"></p></div>
          </div>
          <div class="footer">
            <div>
              <small><a [routerLink]="'/confide/' + confide.confide_id">{{ confide.at_created_string }}</a></small>
              <ng-container *ngIf="!confide.is_anonim">
                <small><a [routerLink]="'/confide/' + confide.confide_id">{{ confide.total_comment }} komentar</a></small>
              </ng-container>
            </div>
<!--            <div class="hashtags">-->
<!--              <ng-container *ngFor="let hashtag of confide?.hashtags">-->
<!--                <small><a [routerLink]="'/hashtag/' + hashtag">#{{ hashtag }}</a></small>-->
<!--              </ng-container>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="loading.confides">
  <div class="text-center margin-top-3">
    <ng-container [ngTemplateOutlet]="templateLoading"></ng-container>
  </div>
</ng-container>


<ng-template #templateLoading>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>


