<div class="confides">
  <ng-container *ngFor="let confide of confides; trackBy : trackById">
    <div class="confide">
      <div class="width-100">

        <ng-container *ngIf="confide.username; else templateUserAnonim">
          <div class="user">
            <div class="line-height-0">
              <ng-container *ngIf="confide.photo_url; else templateNoPhoto">
                <img [src]="confide.photo_url" alt="">
              </ng-container>
            </div>
            <ng-template #templateNoPhoto>
              <div class="img">{{ confide.username[0]  }}</div>
            </ng-template>
            <!--                  <div class="user-name">-->
            <!--                    {{ confide.name }}-->
            <!--                  </div>-->
            <small class="user-username">
              <a [routerLink]="'/' + confide.username">@{{ confide.username }}</a>
            </small>
          </div>
        </ng-container>

        <div class="user-content">
          <div>
            <div>{{ confide.text }}</div>
          </div>
          <div class="footer">
            <div>
              <small>{{ confide.at_created_string }}</small>
              <small><a [routerLink]="'/confide/' + confide.confide_id">{{ confide.total_comment }} comments</a></small>
            </div>
            <div>
              <ng-container *ngFor="let hashtag of confide?.hashtags">
                <small><a [routerLink]="'/hashtag/' + hashtag">#{{ hashtag }}</a></small>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="loading.confides">
  <div class="text-center margin-top-3">
    <ng-container [ngTemplateOutlet]="templateLoading"></ng-container>
  </div>
</ng-container>


<ng-template #templateLoading>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>

<ng-template #templateUserAnonim>
  <a><i>anonim</i></a>
</ng-template>

