.button-confide {
  //width: 100%;
  //font-weight: bold;
  font-size: 1.5rem;

  &.active {
    font-weight: bold;
  }
}

dl > dt {
  a {
    display: inline-flex;

    svg:first-child {
      display: block;
    }

    svg:nth-child(2) {
      display: none;
    }

    font-size: 2rem;
  }

  a.active {
    svg:first-child {
      display: none;
    }

    svg:nth-child(2) {
      display: block;
    }

    font-weight: bold;
  }

  a span {
    margin-left: 1rem;
  }
}
