<div class="container-full">
  <div class="row">

    <!--TOP 10 HASHTAGS-->
    <aside class="column column-md-none sidebar">
      <div class="component">
        <app-navigation-side></app-navigation-side>
      </div>
    </aside>
    <!--TOP 10 HASHTAGS-->

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <!--TOP 10 USERS-->
    <div class="column column-md-none sidebar sidebar-right">
      <div class="component">
        <app-top-ten-users></app-top-ten-users>
      </div>
      <div class="component">
        <app-top-ten-hashtags></app-top-ten-hashtags>
      </div>
    </div>
    <!--TOP 10 USERS-->

  </div>
</div>

<app-navigation-bottom></app-navigation-bottom>
