@import "../../../../shared/styles/Color";

.form-confide {

  textarea {
    max-width: 100%;
    min-width: 100%;
    border: none;
    margin: 0 !important;
    overflow: hidden;
  }

  textarea:hover, textarea:focus, textarea:not(:placeholder-shown) {
    border: 0.1rem solid $color-primary !important;
    outline: 0;
  }

  & > div {
    display: flex;
    flex-direction: column-reverse;

    p {
      margin: 0;
      text-align: right;
    }

    & > div:first-child {
      display: flex;
      flex-direction: column-reverse;

      button {
        margin: 3rem 0;
        width: 100%;
      }
    }
  }

  .options {
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
