/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';
@import "src/shared/styles/milligram";

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: $color-secondary;
  background: $color-initial;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: block;
  overflow: auto;
  position: relative;
  width: 100%;
  margin: 5rem 0;
  max-height: calc(100vh - 10rem);

  @media(min-width: 80rem) {
    margin: 5rem 0 0 0;
    max-height: calc(100vh - 5rem);
  }

  .container, {
    max-width: 100%;

    @media(min-width: 80rem) {
      max-width: 60%;
    }
  }

  div.container {
    border-top: 0;
    padding: 2rem;
    background: $color-initial;
  }

  div.container-full {
    max-width: 100vw;
    border-top: 0;
    background: $color-initial;

    @media(min-width: 80rem) {
      padding: 2rem 2rem;
    }
  }
}

@keyframes b {
  0%,
  50% {
    transform: rotate(0)
  }
  25%,
  75% {
    transform: rotate(-25deg)
  }
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 3rem;
}

.lds-ellipsis div {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: calc(50% - 0.5rem);
  border-radius: 50%;
  background: $color-primary;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.column-md-none {
  display: none !important;

  @media(min-width: 80rem) {
    display: block !important;
  }
}

/* Custom size */
.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

.text-danger {
  font-weight: normal;
  color: $color-danger;
  font-style: italic
}

.margin-0 {
  margin: 0 !important;
}

.margin-1 {
  margin: 1rem !important;
}

.margin-2 {
  margin: 2rem !important;
}

.margin-3 {
  margin: 3rem !important;
}

.margin-left-1 {
  margin-left: 1rem !important;
}

.margin-top-3 {
  margin-top: 3rem !important;
}


.width-100 {
  width: 100%;
}

.line-height-0 {
  line-height: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.display-flex {
  display: flex !important;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.align-items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.sidebar {
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: sticky;
  top: 0;
  margin-top: 2rem;
  max-width: 20% !important;

  dl {
    margin-bottom: 0;
  }

  &.sidebar-right {
    top: -40rem;
    text-align: right;
  }

  .component {
    height: 40rem;
    max-height: 40rem;
  }
}


.container {
  border-top: 0;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

.column-confides {
  flex: 0 0 100%;
  padding: 0 0 5rem;

  @media(min-width: 80rem) {
    flex: 0 0 60%;
    max-width: 60%;
  }

}

.form-confide {

  textarea {
    max-width: 100%;
    min-width: 100%;
    border: none;
    margin: 0 !important;
    overflow: hidden;
  }

  textarea:hover, textarea:focus, textarea:not(:placeholder-shown) {
    border: 0.1rem solid $color-primary !important;
    outline: 0;
  }

  div {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
      text-align: right;
    }
  }
}


.confides {
  .confide:first-child {
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
  }

  .confide:last-child {
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  .confide:nth-child(even) {
    border-top: none;
    border-bottom: none;
  }

  .confide:last-child:nth-child(even) {
    border-bottom: 1px solid $color-quinary;
  }
}

.confide {
  border: 1px solid $color-quinary;
  padding: 1rem;
  display: flex;

  img, .img {
    border-radius: 50%;
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    margin-right: 1rem;

    @media(min-width: 80rem) {
      width: 5rem;
      min-width: 5rem;
      height: 5rem;
    }
  }

  .img {
    border: 1px solid $color-quinary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
  }
}

.confide .user {
  font-weight: 400;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  .user-name {
    display: none;
  }
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}


.confide .footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  & > div:first-child {
    display: flex;
    justify-content: space-between;
  }

  @media(min-width: 80rem) {
    flex-direction: row;
  }

  div {
    small {
      margin: 0 1rem;
    }

    small:first-child {
      margin-left: 0;
    }

    small:last-child {
      margin-right: 0;
    }
  }
}


.footer-login-text {
  text-align: center;
  margin-top: 2rem;
}
