<header class="header" id="home">
  <section class="container">
    <img src="/assets/images/logo.svg" alt="eyedee" decoding="async">
    <h1 class="title">eyedee</h1>
    <p class="description" data-version="Currently">
      gabut?
      <br>
      di eyedee, lo bisa curhat ke semua orang!
      <br>
      <i><small>secara</small><br><b>anonim</b></i>
      <br>
    </p>
    <ng-container *ngIf="(authService.loggedIn | async); else templateLogin">
      <a class="button" title="Login dengan username" routerLink="/explore">
        mulai menjelajah!
      </a>
    </ng-container>
  </section>
</header>

<ng-template #templateLogin>
  <a class="button" title="Login dengan username" routerLink="/auth/login">
    Login dengan username
  </a>
  <br>
  <a class="button button-clear" routerLink="/auth/register">Daftar</a>
</ng-template>
